@charset "utf-8";
/* =========================
	import
 ========================= */
@import url('reset.css');

html{font-size:14px;
    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none; /*Firefox*/
    -ms-text-size-adjust: none;  /*Ie*/
    -o-text-size-adjust: none; /*old versions of Opera*/
}
body,
button,
a{font-family:'NotoSansKR','Sans-serif'; font-weight:400; color:#313131; letter-spacing:0; position: relative;}
.noScroll{overflow:hidden;}
.scrollArea{overflow:hidden;overflow-y:scroll}
.scrollArea::-webkit-scrollbar {width:6px;}
.scrollArea::-webkit-scrollbar-thumb {background-color: #B4B8D0; border-radius: 4px; background-clip: padding-box; border: 1px solid transparent;}
.scrollArea::-webkit-scrollbar-track {background-color: transparent; border-radius: 4px;}
.show{display:block !important;}
.hide{display:none !important;}
.dpIb{display:inline-block !important;vertical-align:middle;}
.ui-datepicker{z-index:50 !important;}
.pre{white-space: pre-line;}

/* positioning */
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.vat{vertical-align:top !important;}
.mt0{margin-top:0 !important;}
.mt1{margin-top:4px !important;}
.mt2{margin-top:5px !important;}
.mt3{margin-top:8px !important;}
.mt4{margin-top:16px !important}
.mt5{margin-top:20px !important;}
.mt6{margin-top:24px !important;}
.mt7{margin-top:32px !important;}
.mt8{margin-top:40px !important;}
.mt9{margin-top:44px !important;}
.mb0{margin-bottom:0 !important;}
.mb1{margin-bottom:4px !important;}
.mb2{margin-bottom:5px !important;}
.mb3{margin-bottom:8px !important;}
.mb4{margin-bottom:16px !important}
.mb5{margin-bottom:20px !important;}
.mb6{margin-bottom:24px !important;}
.mb7{margin-bottom:32px !important;}
.mb8{margin-bottom:40px !important;}
.mr0{margin-right:0 !important;}
.mr1{margin-right:4px !important;}
.mr2{margin-right:5px !important;}
.mr3{margin-right:8px !important;}
.mr4{margin-right:10px !important;}
.mr5{margin-right:20px !important;}
.ml0{margin-left:0 !important;}
.ml1{margin-left:4px !important;}
.ml2{margin-left:5px !important;}
.ml3{margin-left:8px !important;}
.ml4{margin-left:16px !important;}
.pb0{padding-bottom: 0px !important;}
.pb8{padding-bottom: 8px !important;}
.pb16{padding-bottom: 16px !important;}
.p16_0{padding:16px 0!important;}

/* ========== TEXT - Title,Contents ========== */
.tit_wrap{position:relative; padding-right: 25px;}
.tit_wrap .btn_right{display: block; width:30px; height:30px; line-height: 30px; position:absolute; right:0; bottom:5px;font-size:0; text-align: right;}
.tit_wrap .btn_right i{vertical-align: middle;}
.tit_wrap .txt_right{display: block; height:30px; line-height: 30px; position:absolute; right:0; top:50%; transform:translateY( -50%); -webkit-transform:translateY( -50%); -moz-transform:translateY( -50%); -o-transform:translateY( -50%); -ms-transform:translateY( -50%);text-align: right;}
[class*="title_"]{word-break: keep-all; position:relative;}
.tit_wrap [class*="title_"] i{margin-right: 16px; }
[class*="title_"] [class*="rabel_fill"]{position: absolute; right:0; top:0;}

.typo_b{font-weight:700!important;}
.typo_m{font-weight:500!important;}
.typo_r{font-weight:400!important;}
.typo_l{font-weight:200!important;}

.title_01{font-size:24px; font-weight: 700; line-height: 35px;}
.title_02{font-size:20px; font-weight: 700; line-height: 29px;}
.title_03{font-size:18px; font-weight: 700; line-height: 26px;}
.title_04{font-size:18px; font-weight: 400; line-height: 26px;}
.title_05{font-size:16px; font-weight: 700; line-height: 23px;}
.title_06{font-size:16px; font-weight: 400; line-height: 23px;}
.title_07{font-size:15px; font-weight: 700; line-height: 22px;}
.title_08{font-size:14px; font-weight: 700; line-height: 20px;}
.title_09{font-size:14px; font-weight: 500; line-height: 20px;}
.title_10{font-size:14px; font-weight: 400; line-height: 20px;}
.title_11{font-size:12px; font-weight: 400; line-height: 17px;}
.title_12{font-size:10px; font-weight: 400; line-height: 14px;}
.title_14{font-size:16px; font-weight: 500; line-height: 23px;}
.title_purple{font-size: 20px; font-weight: 700; line-height: 32px; color: #6765E9;}

.contTxt_01{font-size:24px; font-weight: 700; line-height: 36px;}
.contTxt_02{font-size:20px; font-weight: 700; line-height: 32px;}
.contTxt_03{font-size:16px; font-weight: 700; line-height: 25px;}
.contTxt_04{font-size:16px; font-weight: 400; line-height: 24px;}
.contTxt_05{font-size:14px; font-weight: 500; line-height: 20px;}
.contTxt_06{font-size:14px; font-weight: 400; line-height: 20px;}
.contTxt_07{font-size:12px; font-weight: 400; line-height: 18px;}
.contTxt_14{font-size:14px; font-weight: 400; line-height: 24px;}
.contTxt_16{font-size:16px; font-weight: 700; line-height: 28px;}

/* ========== SIZE ========== */
/* width */
.width00{width:68px!important;}
.width01{width:93px!important;}
.width02{width:109px!important;}
.width03{width:142px!important;}

/* ========== Buttons ========== */
.btnArea{display:-webkit-box;}
.btnArea a,
.btnArea button{display:block;width:100%;-webkit-box-flex:1;padding:0 15px;margin:0 0 0 7px;text-align:center;}
.btnArea a:first-child,
.btnArea button:first-child{margin:0;}

.btnArea.typeA{display:-webkit-box;margin:30px auto 0;border-top:1px solid #efefef;}
.btnArea.typeA a,
.btnArea.typeA button{display:-webkit-box;display:block;width:100%;height:55px;margin:0;font-size:16px;font-weight:normal;text-align:center;color:#414141;line-height:55px;border:0;-webkit-border-radius:0;border-radius:0;border-left:1px solid #efefef;background:#fff;box-shadow:none;}
.btnArea.typeA a:first-child,
.btnArea.typeA button:first-child{border:0;}
.wrap .btnArea.typeA .on{color:#003469;background:#bfeaf8;}

.btnArea.typeB{display:block;}
.btnArea.typeB a{max-width:49%;margin:0 auto;}

.btnArea.typeC{display:block;}
.btnArea.typeC [class^="btn_"]{display: inline-block; width:auto}

.btnMore{display: block; text-align: center;}
.btnMore .close{transform: rotate(180deg);}

.btnMoreArea{display: block;margin-top: 8px;}
.btnMoreArea >* {display: block;width: 100%;padding: 16px 0; font-size: 14px;line-height: 20px;font-weight: 700;color: #6765E9;text-align: center;}
.btnMoreArea >* i{margin-left: 4px;}

[class^="btn_"]{display: inline-block; box-sizing: border-box;}
[class^="btn_"] [class^="icoCom_"]{margin-top: -5px;}
[class^="btn_"].disabled{pointer-events: none;}
/*text_button*/
[class^="btn_text_"],
.btnArea [class^="btn_text_"]{color:#000;}
[class^="btn_text_"].disabled{color: #d7dbec !important;}
[class^="btn_text_"].active{color:#6765E9;}
.btn_text_size01{font-size:16px; line-height:23px; font-weight: 700;}
.btn_text_size02{font-size:14px; line-height:20px; font-weight: 700;}
.btn_text_size03{font-size:12px; line-height:17px; font-weight: 500;}
.underline{text-decoration-line: underline; color: #808080; font-weight: 400!important;}

/* btn_fill */
[class^="btn_fill"],
.btnArea [class^="btn_fill"]{padding:11px 16px; background:#6765E9; border:1px solid #6765E9; -webkit-border-radius: 8px; border-radius: 8px; line-height: 23px; font-size:16px; font-weight: 700; color: #fff;}
[class^="btn_fill"].disabled{background: #CDD4F6; border-color: #CDD4F6;}
[class^="btn_fill"].sm{padding:7px; line-height: 20px;}
.btn_fill_color01{background: #000 !important; border-color: #000!important;}
.btn_fill_color02{background: #9BA0BC !important; border-color: #9BA0BC!important; }
.btn_fill_color03{background:#7E84A3 !important; border-color: #7E84A3!important; }
.btn_fill_color04{background:#B4B8D0 !important; border-color: #B4B8D0!important; }

/* btn_border */
[class^="btn_border"],
.btnArea [class^="btn_border"]{padding:11px 16px; background:#fff; border:1px solid #6765E9; -webkit-border-radius: 8px; border-radius: 8px; line-height: 23px; font-size:16px; font-weight:700; color: #6765E9;}
[class^="btn_border"].disabled{border-color: #CDD4F6; color: #CDD4F6;}
[class^="btn_border"].sm{padding:7px 12px; line-height: 20px; font-weight: 400;}
[class^="btn_border"].icoBtn{padding:3px; font-size: 0; line-height: 0; flex-shrink: 0;}
.btn_border_red{background: #fff !important; border-color: #F63E3E!important; color:#F63E3E!important;}
.btn_border_color01{border-color: #000!important; color:#000!important}
.btn_border_color02{border-color: #D7DBEC!important; color:#D7DBEC!important}
.btn_border_snsLog{border-color:#CDD4F6!important; color:#000!important; font-weight: 400!important;}

/*tab_btn*/
.tab_box{display: -webkit-flex;display: flex; width:100%; height: 56px;background: #fff;}
.tab_box>*{width:100%; height: 100%;}
.tab_box .btn_tab{position:relative; display: block; width:100%; height: 100%; line-height: 56px; font-weight: 700;font-size: 16px; text-align: center;}

.tab_box.typeA .btn_tab:after{content: ''; display: block; position:absolute; left: 0; bottom: 0; width:100%; height:3px; }
.tab_box.typeA .btn_tab{color: #7E84A3;}
.tab_box.typeA .btn_tab.on{color: #6765E9;}
.tab_box.typeA .btn_tab.on:after{background: #6765E9;}

/*Rabels*/
[class^="rabel_"]{display: inline-block; box-sizing: border-box;word-break: keep-all;}
[class^="rabel_fill"]{padding:3px 8px; background:#6765E9; border:1px solid #6765E9; -webkit-border-radius:4px; border-radius:4px; line-height: 20px; font-size:14px; color:#fff; vertical-align: middle;}
[class^="rabel_fill"].radius{border:0; -webkit-border-radius:16px; border-radius:16px; line-height: 17px; font-size: 12px; font-weight: 500;}
.rabel_fill_color01{background:#000; border:1px solid #000;}
.rabel_fill_color02{background:#97E1EE; border:1px solid #97E1EE; color:#31313D;}
[class^="rabel_border"]{padding:4px 8px; background:#fff; border:1px solid #6765E9; -webkit-border-radius:4px; border-radius:4px; line-height: 20px; font-size:14px; color:#6765E9;}
.rabel_border_color01{border-color: #000; color:#000}

/* box-shadow*/
[class^="box_shadow"]{box-sizing: border-box; padding:24px;-webkit-border-radius: 16px; border-radius: 16px;background: #fff;}
.box_shadow01{box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);}
.box_shadow02{box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.1);}

/* box_wrap*/
.box_wrap{background:#fff;box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);}
.box_wrap.bgNone{background: transparent; margin-bottom: 0;}
.box_wrap{margin-bottom: 16px;}
.contents .box_wrap:last-child{margin-bottom: 0!important;}
.box_p32{padding:32px;}
.box_p32:not(.bgColorB)+.box_p32{border-top:1px solid #D7DBEC;}
.box_p16{padding:16px 0}

/* ========== COLOR ========== */

/* bgColor */
.bgColor01{background:#FBDEC9}
.bgColor02{background:#FFF4D9}
.bgColor03{background:#E1EFDC}
.bgColor04{background:#DEF5EA}
.bgColor05{background:#D6EEFF}
.bgColor06{background:#DDE1F5}
.bgColor07{background:#CDD4F6}
.bgColorA{background:#43B6CB}
.bgColorB{background:#F5F6FA}
.bgColorC{background:#E6E9F4!important}

/* texts */
.color0{color:#31313D !important;}
.colorA{color:#6765E9 !important;}
.colorB{color:#F63E3E !important;}
.colorC{color:#808080 !important;}
.colorD{color:#6765E9 !important;}
.colorE{color:#9792FF !important;}
.colorF{color:#43B6CB !important;}
.colorG{color:#3E88F6 !important;}
.colorH{color:#7E84A3 !important;}
.colorI{color:#F17662 !important;}
.colorJ{color:#BFBFBF !important;}
.required{color:#F63E3E !important; padding:0 2px;}
.desc{font-size:14px !important;color:#747474;}

/* ========== INPUT ========== */
/* input */
.inputBox{display: -webkit-flex; display: flex; width: 100%;}
.inputBox .input_tit{margin-right: 10px;}
.inputBox .input{height:47px; padding:12px 16px;}

.input{width:100%; height:47px; padding:12px 16px;border:1px solid #F5F6FA;-webkit-border-radius:8px;border-radius:8px;background:#F5F6FA;}
.input:first-child{margin-left: 0;}
.input input{display:block;width:100%;-webkit-box-flex:1;height:23px;border:0;background:#F5F6FA;font-size:16px;text-align:left;color: #6765E9;}
.input input::placeholder{color: #808080;opacity: 1;}
.input input::-webkit-input-placeholder {color: #D7DBEC;}
.input input:-ms-input-placeholder{color: #D7DBEC;}
.input input:-mos-input-placeholder{color: #D7DBEC;}

.input.on,
.input:focus-within{border-color:#6765E9;}
.input.disabled{pointer-events: none; }
.input.disabled input,
.input input:disabled{color: #C1C7DE!important;}
.inputBox [class^="btn_"]{margin-left: 8px; flex-shrink: 0; min-width: 70px;}
.inputBox .txt{margin-left: 10px; line-height:47px;}
.inputBox .unit{display:block;margin-left:8px;font-size:16px;font-weight:700;text-align:right;color:#31313D;white-space:nowrap}
.inputBox .small{display:block;margin-left:8px;font-size:10px;font-weight:400;text-align:right;color:#31313D;white-space:nowrap}
.inputBox .bar{display:block;width:7px; height: 1px; margin:23px 8px; background: #6765E9;}

/* input - validation */
.inputVali{min-height: 55px;}
.input + .validation{padding: 1px 5px 5px;}
.input + .validation.red{color: red; font-size: 14px; font-weight: 700;}

/* input - radio */
.radioBox{width:100%; height:47px; padding:12px 16px;}
.inputRadio>*{height:20px; line-height:20px;}
.inputRadio input[type="radio"]{display:none;}
.inputRadio input[type="radio"] + label{position: relative; display: inline-block; box-sizing: border-box;}
.inputRadio input[type="radio"] + label .bul{position: absolute; left:0; display:block; box-sizing: border-box;}
.inputRadio.disabled{pointer-events: none; }

.inputRadio.typeA input[type="radio"] + label{padding-left: 30px; color: #6765E9;}
.inputRadio.typeA.disabled input[type="radio"] + label{color: #C1C7DE;}
.inputRadio.typeA input[type="radio"] + label .bul{top:0px; width:20px; height: 20px; -webkit-border-radius: 10px;border-radius: 10px; background: url(../images/common/input_radio01.png)no-repeat 0 0; background-size:40px;}
.inputRadio.typeA input[type="radio"]:checked + label .bul{background-position:-20px 0;}
.inputRadio.typeA.disabled input[type="radio"] + label .bul{background-position:-0px -20px;}
.inputRadio.typeA.disabled input[type="radio"]:checked + label .bul{background-position:-20px -20px;}

.tab_btnBox{display: -webkit-flex;display: flex; width:100%; height: 39px;background: #F5F6FA;-webkit-border-radius: 8px;border-radius: 8px;}
.tab_btnBox input[type="radio"]{display:none;}
.tab_btnBox>*{width:100%; height: 100%;}
.tab_btnBox .label_typeTab{display: block; width:100%; height: 100%; line-height: 39px; -webkit-border-radius: 8px;border-radius: 8px;font-weight: 700;font-size: 14px; text-align: center;}
.tab_btnBox input[type="radio"]+.label_typeTab{color: #6765E9;}
.tab_btnBox input[type="radio"]:checked+.label_typeTab{background: #6765E9;color: #FFFFFF;}

.switch{position: relative;height:36px;width: 78px; padding:7px 10px; background: #60CFE3;-webkit-border-radius: 22px;border-radius: 22px;}
.switch .switch-input{display: none;}
.switch-label{position: relative;z-index: 2;float: left;width:28px; font-weight: 700;font-size: 14px;line-height: 22px;color: #FFFFFF;cursor: pointer;outline: none;-webkit-tap-highlight-color:transparent}
.switch-label-on{margin-left:2px; }
.switch-selection{position: absolute;z-index: 1;top: 2px;left:2px;display: block;width: 32px;height: 32px;-webkit-border-radius: 18px;border-radius: 18px;background-color: #fff;-webkit-transition: left 0.15s ease-out;-moz-transition: left 0.15s ease-out;-ms-transition: left 0.15s ease-out;-o-transition: left 0.15s ease-out;transition: left 0.15s ease-out;}
.switch-input:checked + .switch-label {font-size: 0;}
.switch-input:checked + .switch-label-on ~ .switch-selection {left: 44px;}

.switch.small{width:55px; height: 28px; padding:2px}
.switch.small .switch-label{width:25px; font-size: 0;}
.switch.small .switch-label-on{margin-left: 0;}
.switch.small .switch-selection{width:24px; height:24px}
.switch.small .switch-input:checked + .switch-label-on ~ .switch-selection {left: 29px;}

/* input - check */
.inputCheck{width:100%; position:relative;}
.inputCheck>*{min-height:20px; line-height:20px;}
.inputCheck input[type="checkbox"]{display:none;}
.inputCheck input[type="checkbox"] + label{display: inline-block; position: relative; box-sizing: border-box; word-break: keep-all;}
.inputCheck input[type="checkbox"] + label .bul{position: absolute; left:0; display:block; box-sizing: border-box;}
.inputCheck .txt_r{position:absolute; right:0; top:0;}

.inputCheck.typeA input[type="checkbox"] + label{padding-left: 30px;}
.inputCheck.typeA input[type="checkbox"] + label .bul{top:0px; width:20px; height: 20px; -webkit-border-radius: 10px;border-radius: 10px; background: url(../images/common/input_check01.png)no-repeat 0 0; background-size:40px;}
.inputCheck.typeA input[type="checkbox"]:checked + label .bul{background-position:-20px 0;}

/* select */
.select{display: inline-block; min-width: 132px; position:relative; width: 100%;}
.select .selectbox{position:relative;}
.select .select_title{width:100%; text-align: left;}
.select .select_options{display: none; position:absolute; left: 0; right: 0; top: 49px;}
.select .on.selectbox{z-index: 10;}
.select .on .select_options{display: block!important;}

.select.typeA{height: 48px; }
.select.typeA .selectbox{width: 100%;}
.select.typeA .select_title{position:relative; padding:12px 48px 12px 16px;background: #F5F6FA;border: 1px solid #E6E9F4;-webkit-border-radius: 8px;border-radius: 8px; font-size: 16px; line-height: 23px; color: #31313D;}
.select.typeA .select_title:after{content:''; display: block; position:absolute; right:16px; top:12px; width:24px; height:24px; background:url(../images/common/ico_arrow.png)no-repeat -24px -120px; background-size:96px;}
.select.typeA .select_title.placeholder{color:#9BA0BC;}
.select.typeA .select_options{max-height: 235px;background:#fff; -webkit-border-radius: 8px;border-radius: 8px; overflow:hidden; overflow-y: auto; }
.select.typeA .select_option{padding:12px 16px;font-size: 16px; line-height: 23px; color:#31313D; cursor: pointer; word-break: break-all;}
.select.typeA .on .select_title:after{background-position:0 -120px}
.select.typeA .select_option.on{background: #E6E9F4;}
.select.typeA .selectbox.on .select_options{box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);}

/* select time */
.time_inputBox{display: -webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between;-webkit-align-items: center; align-items: center;}
.time_inputBox .selectbox{display: -webkit-flex; line-height:36px; display: flex;font-weight: 700; font-size: 16px; color: #6765E9; position:relative;}
.time_inputBox .select_title{width:100%; text-align: left;}
.time_inputBox .select_options{display: none; position:absolute; left: 0; right: 0; top: 40px;}
.time_inputBox .on.selectbox{z-index: 10;}
.time_inputBox .on .select_options{display: block!important;}

.time_inputBox.typeA{height: 48px; }
.time_inputBox.typeA .selectbox{width: 100%;}
.time_inputBox.typeA .select_title{position:relative; padding:12px 48px 12px 16px;background: #F5F6FA;border: 1px solid #E6E9F4;-webkit-border-radius: 8px;border-radius: 8px; font-size: 16px; line-height: 23px; color: #31313D;}
.time_inputBox.typeA .select_title:after{content:''; display: block; position:absolute; right:16px; top:12px; width:24px; height:24px; background:url(../images/common/ico_arrow.png)no-repeat -24px -120px; background-size:96px;}
.time_inputBox.typeA .select_title.placeholder{color:#9BA0BC;}
.time_inputBox.typeA .select_options{max-height: 150px;background:#fff; -webkit-border-radius: 8px;border-radius: 8px; overflow:hidden; overflow-y: auto; }
.time_inputBox.typeA .select_option{padding:12px 16px;font-size: 16px; line-height: 23px; color:#6765E9; cursor: pointer; word-break: break-all;}
.time_inputBox.typeA .on .select_title:after{background-position:0 -120px}
.time_inputBox.typeA .select_option.on{background: #E6E9F4;}
.time_inputBox.typeA .selectbox.on .select_options{box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);}

/* textarea */
.textarea{width:100%; height: 165px;padding: 12px 16px;background: #F5F6FA; -webkit-border-radius: 8px; border-radius: 8px;}
.textarea textarea{width:100%; height: 100%; border:0; resize: none; background: transparent; font-size: 16px; line-height: 23px;}
.textarea textarea::placeholder {color: #D7DBEC;opacity: 1;}
.textarea textarea::-webkit-scrollbar {	width: 4px; /*스크롤바의 너비*/}
.textarea textarea::-webkit-scrollbar-thumb {background-color: #6765E9; /*스크롤바의 색상*/}
.textarea textarea::-webkit-scrollbar-track {background-color: transparent; /*스크롤바 트랙 색상*/}

/*certification_list btn_certification*/
.btn_certification{position: relative; display: block; width: 100%; padding:16px 51px 16px 81px; background: #FFFFFF;border: 1px solid #6765E9;box-sizing: border-box;box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);-webkit-border-radius: 16px;border-radius: 16px; text-align: left;}
.btn_certification::before,
.btn_certification::after{content: ''; position:absolute; display: block; top: 50%; transform:translateY( -50%); -webkit-transform:translateY( -50%); -moz-transform:translateY( -50%); -o-transform:translateY( -50%); -ms-transform:translateY( -50%);}
.btn_certification::before{left:16px; width:48px; height:48px; -webkit-border-radius:24px; border-radius: 24px; border: 2px solid #6765E9; box-sizing: border-box; background:url(../images/common/ico_certification.png)no-repeat center; background-size: 28px;}
.btn_certification::after{right:16px; width:24px; height: 24px; background:url(../images/common/ico_arrow.png)no-repeat -71.6px -71.6px; background-size:96px;}
.btn_certification .contTxt_06{width: 100%; margin-bottom: 4px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}

/* ========== icons ========== */
.header [class^="ico_"],
.footer [class^="ico_"],
.wrapAside [class^="ico_"]{display: inline-block; background:url(../images/common/header_footer.png)no-repeat; background-size:200px; font-size: 0;}
.header .ico_bugger{width:24px; height:24px; background-position:-152px -0px;}
.header .ico_bell{width:24px; height:24px; background-position:-176px -0px;}
.header .ico_close{width:24px; height:24px; background-position:-176px -24px;}
.header .ico_back{width:24px; height:24px; background-position:-152px -48px;}
.footer .ico_home{width:32px; height:32px; background-position: 0 -0px;}
.footer .ico_doc{width:32px; height:32px; background-position: -32px -0;}
.footer .ico_data{width:32px; height:32px; background-position: -64px -0;}
.footer .ico_my{width:32px; height:32px; background-position: -96px -0;}
.footer .on .ico_home{background-position: 0 -32px;}
.footer .on .ico_doc{background-position: -32px -32px;}
.footer .on .ico_data{background-position: -64px -32px;}
.footer .on .ico_my{background-position: -96px -32px;}
.wrapAside .ico_myinfo{width:24px; height:24px; background-position:-0px -64px;}
.wrapAside .ico_hospitalList{width:24px; height:24px; background-position:-24px -64px;}
.wrapAside .ico_thisapp{width:24px; height:24px; background-position:-48px -64px;}
.wrapAside .ico_terms{width:24px; height:24px; background-position:-72px -64px;}
.wrapAside .ico_logOut{width:24px; height:24px; background-position:-96px -64px;}

[class^="icoCom_"]{display: inline-block; background:url(../images/common/ico_common.png)no-repeat; background-size:200px; font-size: 0;vertical-align: middle;}
.icoCom_time{width:32px; height:32px; background-position:-167.6px -0px;}
.icoCom_set{width:24px; height:24px; background-position:-96px -48px;}
.disabled .icoCom_timeRe{width:24px; height:24px; background-position:-24px -48px;}
.icoCom_timeRe{width:24px; height:24px; background-position:-48px -48px;}
.icoCom_timeRe_white{width:24px; height:24px; background-position:-0px -48px;}
.icoCom_i{width:18px; height:18px; background-position:-96px -0px;}
.icoCom_pairing{width:40px; height:40px; background-position:-160px -32px;}
.icoCom_walking{width:51px; height:51px; background-position:-149px -72px;}
.icoCom_write{width:24px; height:24px; background-position:-72px -48px;}
.icoCom_day_purple{width:24px; height:24px; background-position:-0px -72px;}
.icoCom_day_gray{width:24px; height:24px; background-position:-0px -96px;}
.icoCom_time_purple{width:24px; height:24px; background-position:-24px -72px;}
.icoCom_time_purple02{width:24px; height:24px; background-position:-72px -120px;}
.icoCom_time_gray{width:24px; height:24px; background-position:-24px -96px;}
.icoCom_time_gray02{width:24px; height:24px; background-position:-96px -120px;}
.icoCom_hos_purple{width:24px; height:24px; background-position:-48px -72px;}
.icoCom_hos_gray{width:24px; height:24px; background-position:-48px -96px;}
.icoCom_memo_purple{width:24px; height:24px; background-position:-72px -72px;}
.icoCom_memo_gray{width:24px; height:24px; background-position:-72px -96px;}
.icoCom_medi_purple{width:24px; height:24px; background-position:-96px -72px;}
.icoCom_goal{width:24px; height:24px; background-position:-24px -120px;}
.icoCom_plus_white{width:24px; height:24px; background-position:-0px -24px;}
.icoCom_arrowB_purple{width:24px; height:24px; background-position:-24px -0px;}
.icoCom_del{width:24px; height:24px; background-position:-0px -120px;}
.icoCom_check{width:24px; height:24px; background-position:-48px -0px;}
.icoCom_doctor{width:24px; height:24px; background-position:-48px -120px;}
.icoCom_keypadBack{width:24px; height:24px; background-position:-24px -24px;}
.icoCom_certi_no{width:24px; height:24px; background-position:-96px -24px;}
.icoCom_refresh{width:24px; height:24px; background-position:-72px -24px;}
.icoCom_del_border{width:24px; height:24px; background-position:-0px -144px;}
.icoCom_time_deepgray{width:24px; height:24px; background-position:-120px -72px;}
.icoCom_memo_deepgray{width:24px; height:24px; background-position:-142px -72px;}

.icon_iosHealth{display: inline-block;width: 52px; height: 52px; background: url(../images/common/icon_ios_health.png)no-repeat center; background-size: 78px; font-size: 0;vertical-align: middle;}
.icon_viocross{display: inline-block;width: 52px; height: 52px; background: url(../images/common/icon_cellimedi.png)no-repeat center; background-size: 78px; font-size: 0;vertical-align: middle;}
.icon_samsungHealth{display: inline-block;width: 52px; height: 52px; background: url(../images/common/icon_samsung_health.png)no-repeat center; background-size: 52px; font-size: 0;vertical-align: middle;}

[class^="icoToday_"]{display: inline-block; width:40px; height:40px; background:url(../images/common/ico_todayWalking.png)no-repeat; background-size:120px; font-size: 0;}
.icoToday_01{background-position:-0px -0px;}
.icoToday_02{background-position:-40px -0px;}
.icoToday_03{background-position:-80px -0px;}

/* ===  PROGRAM ICON === */
[class^="icoProgram"]{display: inline-block;width:32px; height:32px; background:url(../images/common/ico_program.png)no-repeat; background-size:160px;vertical-align: middle;}
.icoProgram_01{background-position:-0px -0px;}
.icoProgram_02{background-position:-32px -0px;}
.icoProgram_03{background-position:-64px -0px;}
.icoProgram_04{background-position:-96px -0px;}
.icoProgram_05{background-position:-128px -0px;}
.icoProgram_06{background-position:-0px -32px;}
.icoProgram_07{background-position:-32px -32px;}
.icoProgram_08{background-position:-64px -32px;}
/*== small size ==*/
[class^="icoProgram"].sm{width:24px; height:24px; background-size:120px; vertical-align: middle;}
.icoProgram_01.sm{background-position:-0px -0px;}
.icoProgram_02.sm{background-position:-24px -0px;}
.icoProgram_03.sm{background-position:-48px -0px;}
.icoProgram_04.sm{background-position:-72px -0px;}
.icoProgram_05.sm{background-position:-96px -0px;}
.icoProgram_06.sm{background-position:-0px -24px;}
.icoProgram_07.sm{background-position:-24px -24px;}
.icoProgram_08.sm{background-position:-48px -24px;}

/* == hospital_program (흰색) == */
[class^="icoProgram"].hP{width:42px; height:42px; background-size:210px; vertical-align: middle;}
.icoProgram_01.hP{background-position:-0px -84px;}
.icoProgram_02.hP{background-position:-42px -84px;}
.icoProgram_03.hP{background-position:-84px -84px;}
.icoProgram_04.hP{background-position:-126px -84px;}
.icoProgram_05.hP{background-position:-168px -84px;}
.icoProgram_06.hP{background-position:-0px -126px;}
.icoProgram_07.hP{background-position:-42px -126px;}
.icoProgram_08.hP{background-position:-84px -126px;}

[class^="icoSns"]{display: inline-block;width:24px; height:24px; background:url(../images/common/ico_sns.png)no-repeat; background-size:120px;}
.icoSns_apple{background-position:-0px -0px;}
.icoSns_google{background-position:-24px -0px;}
.icoSns_kakao{background-position:-48px -0px;}
.icoSns_facebook{background-position:-72px -0px;}
.icoSns_naver{background-position:-96px -0px;}

/*icoArrow_*/
[class^="icoArrow_"]{display: inline-block;width:24px; height:24px; background:url(../images/common/ico_arrow.png)no-repeat; background-size:96px; vertical-align: middle; font-size: 0;}
.icoArrow_purpleT{background-position:-0px -48px;}
.icoArrow_purpleB{background-position:-24px -48px;}
.icoArrow_purpleL{background-position:-48px -48px;}
.icoArrow_purpleR{background-position:-72px -48px;}
.icoArrow_blackT{background-position:-0px -72px;}
.icoArrow_blackB{background-position:-24px -72px;}
.icoArrow_blackL{background-position:-48px -72px;}
.icoArrow_blackR{background-position:-72px -72px;}
.icoArrow_blackMore{background-position:-72px -0px;}
.icoArrow_purpleMore{width:48px; height:48px; background-position: 0 0;}

/* ========== swiper ========== */
.swiper-pagination .swiper-pagination-bullet{width:11px; height:11px; margin-right: 6px; -webkit-border-radius: 50%; border-radius: 50%; background:#D7DBEC; opacity: 1;}
.swiper-pagination .swiper-pagination-bullet-active{background: #6765E9;}

/* ========== Layouts ========== */
.container{position:relative; min-height:100vh; -webkit-transition: 300ms;-moz-transition: 300ms;-ms-transition: 300ms;-o-transition: 300ms;transition: 300ms;-webkit-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden; padding:56px 0 0; }
.container.noBg{background:#fff}
.container:not([class*="main"]) .contents{padding:16px 32px 18px;}
.container:not([class*="login"]) .contents{position:relative;}
.container[class*="main"]{background: #F5F6FA; padding-bottom: 59px;}
.container[class*="main"] .contents{padding-bottom:18px}
.container.main_doctor{padding-top:104px}

.fullPop_wrap{position:fixed; top:0; bottom:0; right:0; left:0; width: 100%; height: 100%; overflow: hidden; overflow-y: auto; z-index: 9998;}
.fullPop_wrap .container{padding-bottom: 0}

/***HEADER***/
.header{position:fixed;top:0;left:0;right:0;min-height:56px;z-index:500; background: #fff;}
.header.noBg{background: transparent!important;border-bottom:0!important;}
.header .headerBox{position: relative;border-bottom: 1px solid #D7DBEC;}
.header .headerBox>*{height:56px; line-height:56px; text-align: center;}
.header .headerBox> button,
.header .headerBox> a{width:56px;}
.header .headerBox h1{padding:0 82px;}
.header .headerBox h1.textL{text-align: left;}
.header .headerBox h1 .tit{display:block; line-height: 56px; font-size:16px; font-weight: 700; color: #31313d; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.header .headerBox h1 .logo{display:block; margin:0 auto; width:111.23px; height:56px; background:url(../images/common/logo_cellimedi.png)no-repeat center; background-size: contain; font-size: 0;}
.header .btn_left{position: absolute; left:0; top:0;}
.header .btn_right{position: absolute; right:0; top:0;}
.header .txt_btn{display:inline-block;height: 35px; background: #6765E9;-webkit-border-radius: 8px; border-radius: 8px; padding:6px 10px;font-size: 16px;line-height: 23px;color: #F5F6FA; }
.header .txt_btn.btn_left{left:16px; top:11px;}
.header [class^="ico_"]{vertical-align: middle;}
.header .notic_ico{position:relative; display: inline-block;}
.header .notic_ico .num{position:absolute;right:-10px; top:-8px; width:21px; height:21px; -webkit-border-radius: 11px; border-radius: 11px; background:#f63e3e; line-height: 21px; font-size: 11px; font-weight: 700; color:#fff;}
.header .txt_jump{position:absolute; right:0; top:0; width:auto!important; display:inline-block;height: 56px;padding:16px 24px;font-weight: 700; font-size: 16px;line-height: 23px;color: #9BA0BC; }

/***slide_nav***/
.nav_wrap{position:relative; background: #FFF; width: 100%; height: 47px; padding:8px 0;border-bottom: 1px solid #D7DBEC; z-index: 10; white-space:nowrap;overflow: hidden;overflow-x: auto;-webkit-overflow-scrolling: touch; -ms-overflow-style: none; scrollbar-width: none;}
.nav_wrap::-webkit-scrollbar { display: none;}
.nav_wrap .slide_nav{display: -webkit-inline-flex;display: inline-flex;min-width: 100%;-webkit-box-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;padding: 0 32px;}
.slide_nav .nav_list{display: -webkit-flex; display: flex;}
.slide_nav .nav_list li{display: inline-block; height: 31px; padding:3px 8px; margin-right: 8px; background: #FFF;border: 1px solid #C1C7DE;-webkit-border-radius: 16px;border-radius: 16px;}
.slide_nav .nav_list li>*{display: inline-block; font-weight: 500;font-size: 16px;line-height: 23px;color: #7E84A3;}
.slide_nav .nav_list li.on{background: #6765E9; border-color:#6765E9;}
.slide_nav .nav_list li.on>*{color:#fff;}

/*FOOTER*/
.footer{position:fixed;bottom:0;left:0;right:0;margin:0 auto; background:#fff; border-top: 1px solid #D7DBEC; z-index:20}
.footer ul{display: -webkit-flex; display: flex; -webkit-justify-content: space-around; justify-content: space-around;}
.footer ul li >*{display: block; padding:7px 8px 4px;}
.footer ul li span{display:block; margin-top:2px; font-size: 10px; color: #7E84A3; line-height: 14px; text-align: center;}
.footer ul li [class^="ico_"]{content:''; display: block; margin:0 auto; }
.footer ul li.on span{color:#6765E9}
.footer.typeB{padding:16px 32px; border:0;}
.footer.typeB [class^="btn_"]{height: 48px;}
.footer.typeC{position:absolute; padding:32px 40px 42px; background: transparent!important;}
.btnFix_top{position:fixed; z-index: 100; right:16px; bottom:36px; display: block; width:56px; height:56px; opacity: 1; -webkit-border-radius: 28px; border-radius: 28px; ; background: #6765E9 url(../images/common/btn_up.png)no-repeat center; background-size: 32px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); font-size: 0; -webkit-transition: all 250ms ease-out;  -moz-transition: all 250ms ease-out; -o-transition: all 250ms ease-out; transition: all 250ms ease-out;}
.btnFix_top.opaHide{opacity: 0; pointer-events: none;}

/*KEYPAD*/
.keypad{height: 254px;}
.keypad_box{position:fixed;bottom:0;left:0;right:0;padding:16px 40px;background:#D7DBEC; z-index:20}
.keypad_box ul{display: -webkit-flex; display: flex; flex-wrap: wrap;}
.keypad_box ul li{padding: 6px;}
.keypad_box ul li button{width:100%; height: 47px; line-height: 47px; display: block; background: #F5F6FA; font-size: 16px;line-height: 23px;color: #000000;}
.keypad_box ul.col_4 li{flex: 1 1 25%;}
.keypad_box ul.col_2 li{flex: 1 1 50%;}

/*ASIDE*/
.wrapAside{position:fixed; left: -100%; right:0; top: 0; bottom:0; width:100%; height:100%; background: rgba(0, 0, 0, 0.5); z-index: 600;}
.wrapAside .contAside{position:relative; width:256px; height: 100%; background:#fff; padding:41px 32px;}
.wrapAside.on{left:0}
.wrapAside .asid_footer{position:absolute; left: 32px; bottom:41px;}
.contAside i{vertical-align: middle; margin-right: 8px; margin-top: -1px;}
.contAside .user_name{font-weight: 700;font-size: 20px;line-height: 29px;color: #000;}
.contAside .user_name .executives{font-weight: normal;font-size: 16px;line-height: 23px; color: #000;}
.contAside .asid_navigation >*{margin-bottom: 16px;}
.contAside .asid_navigation a{display: block; font-weight: 500;font-size: 16px;line-height: 24px;color: #31313D;}
.btn_logOut{display:block; font-weight: 500;font-size: 16px;line-height: 23px;color: #31313D;}

/*정렬*/
.layoutFlex{display: -webkit-flex; display: flex;}
.betweenFlex{-webkit-justify-content: space-between; justify-content: space-between;}
.shareFlex{-webkit-justify-content: space-around; justify-content: space-around;}
.leftFlex{-webkit-justify-content: flex-start; justify-content: flex-start;}
.rightFlex{-webkit-justify-content: flex-end; justify-content: flex-end;}
.centerFlex{-webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.flexEnd{-webkit-align-items: flex-end; align-items: flex-end;}

/* ========== Popup - layer ========== */
.modal-mask {position: fixed;z-index: 9998;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);display: block; transition: opacity 0.3s ease;}
.modal-wrapper {display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); }
.modal-container {width: 311px;margin: 0px auto;padding:20px 16px;background-color: #fff; -webkit-border-radius: 14px;border-radius: 14px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);transition: all 0.3s ease;}
.modal-header{margin: 0 0 20px;}
.modal-header h3{margin-top: 0;font-size: 16px;font-weight: 700;line-height: 23px;color: #31313D;text-align: center;}
.modal-body>*{font-size: 14px;line-height: 20px;color: #31313D; font-weight: 400; text-align: center;}
.modal-footer{display: -webkit-box;margin: 20px -16px -20px; border-top: 1px solid #D7DBEC; z-index: 9991;}
.modal-footer .btn{display: block;-webkit-box-flex: 1;width: 100%;height: 44px;-webkit-border-radius: 0;border-radius: 0;padding: 0;margin: 0;border: 0;font-size: 16px;font-weight: 400;color: #7E84A3;line-height: 44px;text-align: center;box-shadow: none;}
.modal-footer .btn+.btn{border-left: 1px solid #D7DBEC;}
.modal-footer .btn.modal-default-button{font-weight: 700;color: #6765E9;}
.modal-enter {opacity: 0;}
.modal-leave-active {opacity: 0;}
.modal-enter .modal-container,
.modal-leave-active .modal-container {-webkit-transform: scale(1.1);transform: scale(1.1);}

.modal-container .loding{padding:4px 0;}
.modal-container .loding::before{content:''; display: block; margin:0 auto 16px; width:48px; height:48px; background:url(../images/common/img_loding.png)no-repeat center; background-size: contain; animation: rotate_image 2s linear infinite; transform-origin: 50% 50%;}
@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}
@media screen and (max-width: 330px) {
    .modal-container {width:calc(100vw - 20px); max-width: 311px;}
}

/* ========== list style ========== */
.list_styleA .list_item {padding:12px 0; }
.list_styleA .list_item + .list_item{border-top: 1px solid #D7DBEC; }

.list_styleB{background:#F5F6FA; padding:16px;}
.list_styleB .list_item{padding:8px 0; border-top: 1px solid #C1C7DE; font-weight: 500;font-size: 14px;line-height: 20px;color: #31313D;}
.list_styleB .list_item:first-child{border-top: 0;}
.list_styleB .list_item span+span{margin-left: 16px;}

.list_styleC .list_item:first-child{margin-top: 0;}
.list_styleC .list_item{margin-top: 8px; padding:12px 16px; background: #F5F6FA; border-radius: 8px;}

.list_styleD .list_item {padding:16px 0; }
.list_styleD .list_item + .list_item{border-top: 1px solid #D7DBEC; }

.list_styleE{border-top: 1px solid #D7DBEC; }
.list_styleE .list_item{padding:8px 0; border-bottom: 1px solid #D7DBEC; font-weight: 700; font-size: 16px;line-height: 23px;color: #31313D;}

.ico_listStyle01 .list_item{display: -webkit-flex;display: flex;}
.ico_listStyle01 .list_item:last-child{margin-bottom: 0;}
.ico_listStyle01 .list_item>*{display: inline-block; }
.ico_listStyle01 .list_item i{flex-shrink: 0; margin-right: 8px;}

.list_noLine>*{display: -webkit-flex;display: flex;}
.list_noLine .title_09{flex-shrink: 0; width:68px;}
